.fd-shell__header {
  height:auto;
  .fd-shellbar {
    padding-top: 39.5px;
    padding-bottom: 39.5px;
    background:#fff;
    border-bottom:1px solid #eee;
        .fd-button--shell {
          &:before {
              font-size:20px;
              color:$brand-color_2;
          }
        }
        .fd-counter--notification {
          border-radius:50px;
          width:20px;
          height:20px;
          line-height:normal;
        }
        //Search
        .fd-search-input .fd-input {
          background:none;
          border:none;
          border-radius:0px;
          border-bottom: 1px solid #d2d2d2;
          color: grey;
          padding-left: 0px;
        }
  }
}

