.rsdf-sidebar {
    position:fixed;
    width:70px;
    height:100%;
    left:0px;
    top:0px;
    background-color: $brand-color_1;
    z-index:2;
    transition:ease-in-out .4s;
    overflow:hidden;
        @include sm {
            transform: translateX(-100%);
        }
        .menu-wrapper {
            @include sm {
                display:none;
            } 
        }
        .fd-app__navigation {
            background:none;
            margin-top:80px;
                .fd-side-nav {
                    background:none;
                    .fd-side-nav__link, 
                    .fd-side-nav__sublink {
                        padding: 10px 25px;
                        color:$brand-color_2;
                    }
                    .fd-side-nav__link {
                        &:hover {
                            background-color:darken($brand-color_1, 4%);
                        }
                        .fd-side-nav__icon {
                            padding-right:40px;
                            transition:ease-in-out .5s;
                        }
                        .fd-side-nav-name {
                            opacity:0;
                            transition:ease-in-out .5s;
                        }
                    }
                }
        }
        &.active {
            width:250px;
            @include sm {
                transform: translateX(0px);
            }
           .fd-app__navigation .fd-side-nav .fd-side-nav__link {
                .fd-side-nav__icon {
                    padding-right:inherit;
                }  
                .fd-side-nav-name {
                    opacity:1;
                }                             
           }
        }
}


/************
* 
* Mobile conditions
* 
*************/
.m-hamb-wrapper{
    position: relative;
    float: left;
    width: 45px;
    height: 45px;
    border-right: 50px;
    border-radius: 40px;
    margin: 10px;
    margin-top: 18px;
    background: #eee;
    z-index: 3;
    display:none;
    @include sm {
        display:block;
    } 
        .menu-wrapper {
            top: 12px;
            left: 11px;
            .hamburger-menu {
                background-color:#009cde;
                width:23px;
                &:before {
                    background-color:#009cde;
                    width:23px;
                    bottom:6px;
                }
                &:after {
                    background-color:#009cde;
                    width:23px;
                    top:6px;
                }                   
            }

        }
}