.fd-shell {
    
    &.has-sidebar {
        .fd-shell__header,
        .fd-shell__app,
        .fd-shell__footer {
            padding-left:70px;
            transition: ease .5s;
        } 
        &.active {
        .fd-shell__header,
        .fd-shell__app,
        .fd-shell__footer {
            padding-left:250px;
        } 
        }
    }
}