/******************************************
   *
   * Header 
   *
******************************************/
.fd-shellbar {
    .logo-wrapper {
        .brand-logo {
            background-image:url('../img/paypal.svg');
            width: 129px;
            height: 31px;
            background-repeat: no-repeat;
                    @include sm {
                       width: 27px;
                    }
        }
    }
}

.fd-image--xl {
    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;

}

/******************************************
   *
   * Profile Panel
   *
******************************************/
.sdf-profile-panel {
    .sdf-profile-photo-wrapper {
        position:relative;
            &:before {
                position: absolute;
                content: "";
                width: 135px;
                height: 135px;
                background: #00308712;
                top: 3px;
                left: 8px;
                border-radius: 50%;
                z-index: 1;
                    @include rwd(1560) {
                        width: 60px;
                        height: 60px;
                        top: 5px;
                        left: 11px;
                    }
                    @include rwd(980) {
                        width: 104px;
                        height: 104px;
                        top: 4px;
                        left: 9px;
                    }
            } 
            .fd-image--xl {
                @include rwd(1560) {
                    width:50px;
                    height:50px;
                    max-width: 50px;
                    max-height: 50px; 
                }
                @include rwd(980) {
                    width: 90px;
                    height: 90px;
                    max-width: 90px;
                    max-height: 90px;
                }
            }            
    }
    .fd-tile__content {
        padding-left:30px;
        h2 {
            color: #000;
            font-size:35px;
            line-height: 35px;
            margin-bottom: 10px;
                    @include rwd(1560) {
                        font-size:25px;
                        line-height: 25px;
                    }
        }
        p {}
    }
}




/******************************************
   *
   * ROFF SDF PANEL
   *
******************************************/
.rsdf-panel {
        overflow: hidden;
        border-radius:5px;
        min-height:200px;
    h2 {
        color:$brand-color_2;
        font-size:20px;
        font-weight:600;
    }
    p {
        font-size: 15px;
        font-weight: 100;
        line-height:normal; 
    }
    &.bottom-caption {
        position:relative;
        small {
            position: absolute;
            width: 100%;
            padding: 25px 20px;
            display: inline-block;
            background-color: #F0FAFD;
            bottom: 0px;
            color:#6b6b6b;
        }
    }
    &.highlighted {
        background:$brand-color_2;
            .fd-tile {
                background:transparent;
                    h2 {
                        color:#fff;
                    }
                    p {
                        color:#fff;
                    }
            }
            p {
                color:#fff;
            }
    }

}


/******************************************
   *
   * Tables
   *
******************************************/
.table-content {
    overflow:auto;
        table {
            border:none;
        }
}

/******************************************
   *
   * Helper Classes
   *
******************************************/

.rsdf-no-padding {
    padding:0px;
}

.rsdf-no-background {
    background:none;
}

.rsdf-no-shadow {
    box-shadow: none;
}

/******************************************
   *
   * PopOver
   *
******************************************/
.fd-popover__body {
    border:none;
}

.creditcard-table.fd-table {
    border:none !important;
    tbody {

        tr  {
            border:none !important;
            border-bottom:1px solid #eee !important;
                &:last-child {
                    border-bottom:none !important;
                }    
        }  
          
        td {
            padding: 2px 14px;
        }    
    }
}

.creditcard-table-wrapper {
    max-height: 189px;
    overflow: auto;
}

.credit-card-img {
    position:relative;
    display: inline-block;
    left:-9px;
    float:left;
        img {
            width:60px;
        }
}

.credit-card-info {
    position: relative;
    color:#979797; 
    top:4px;
    float:left;
        span {
            &.cname {
                position:relative;
                font-size:15px;
                width:100%;
                display: inline-block;
                line-height:normal;
                color:#000;
            }
            &.clabel{
                width:100%;
                font-size:10px;
                line-height:normal;
                display: inherit;   
            }
        }
}



/******
*
* Layout and columns adjustments 
*
******/
.fd-col {
    margin-top: 20px;
        @include rwd(980) {
            width: 100%;
        }
}

.fd-section {
    padding:0px 20px;
}

.presentation-card {

}